<% if @user %>
	<div class="hidden-sm hidden-xs panel panel-default">
    <div class="panel-body">
    	<h4>Who to follow</h4>
		  <% User.order("RANDOM()").where.not({id: @user.id}).limit(3).each do |user| %>
		  	<h5>
		  		<a href="#">@<%= user.username %></a>
		  	</h5>
		  <% end %>
  	</div>
  </div>
<% end %>


<div class="panel panel-default">
  <div class="panel-body">
    <p>Built with <span class="text-danger">&#10084;</span> and Ruby by Christian Juth at the Flatiron School. This project is projected by the MIT licence and is opensource.</p>
  </div>
</div>