@import 'variables';

body, html{
  margin: 0;
  padding: 0;
  background-color: #E8EAF6;
  font-family: 'Lato', sans-serif;
}

body{
	padding-top: 15px;
	@media #{$break-computer}{
		padding-top: 50px;
	}
}

.new-tweet.collapsed > *{
	margin-bottom: 0px;
}

.new-tweet.collapsed .collapsed-hide{
	display: none;
}

.twitter-text{
	margin-top: 6px;
	font-weight: 300;
}

.twitter-actions{
	margin: -4px 0 0 -6px;
}