body, html{
  margin: 0;
  padding: 0;
  background-color: #E8EAF6;
}

body{
  padding-top: 15px;
}

.new-tweet.collapsed > *{
	margin-bottom: 0px;
}

.new-tweet.collapsed .collapsed-hide{
	display: none;
}

.twitter-text{
	margin-top: 5px;
}