<script type="text/javascript">
  $(document).ready(function(){
    $(".new-tweet").mouseenter(function(){
      $(this).removeClass('collapsed');
      $(this).find("textarea").attr("rows", 3);
    }).mouseleave(function(){
      $(this).addClass('collapsed');
      $(this).find("textarea").attr("rows", 1);
    });
  });
</script>


<ul class="list-group">
  <li class="list-group-item">
    <form class="new-tweet collapsed" action="/new_tweet" method="POST">
      <div class="form-group">
        <textarea style="resize:none" rows="1" name="msg" class="form-control" placeholder="140 characters or less..." maxlength="140"></textarea>
      </div>
      <button type="submit" class="collapsed-hide btn btn-default btn-block btn-sm">Submit</button>
    </form>
  </li>

  <% @all_tweets.each do |tweet| %>
    <li class="list-group-item">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-rounded" height="40" width="40" src="http://1.bp.blogspot.com/-8Ql-je3wAwE/Tx3rdNDS5QI/AAAAAAAABM8/u5bxexEDYG0/s1600/twitter+default+profile.png">
          </a>
        </div>
        <div class="media-body">
          <div class="twitter-syntax">
              <p class="twitter-text">
                @<%= tweet.user.username %> - <%= tweet.msg %>
              </p>
              <div class="twitter-content"></div>
            </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>