<div class="row">

  <div class="col-xs-12 col-md-8">
    <div class="list-group">
      <% @all_tweets.each do |tweet| %>
        <div class="list-group-item">
          <p class="list-group-item-text">
            @<%= tweet.username %> - <%= tweet.msg %>
          </p>
        </div>
      <% end %>
    </div>
  </div>


  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">

        <form action="/new_tweet" method="POST">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="username">
          </div>
          <div class="form-group">
            <label for="msg">Message</label>
            <textarea rows="3" type="text" name="msg" class="form-control" id="msg" placeholder="140 characters or less..."></textarea>
          </div>
          <button type="submit" class="btn btn-default pull-right">Submit</button>
        </form>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p>Built with &#10084; and Ruby by Christian Juth at the Flatiron School. This project is projected by the MIT licence and is opensource.</p>
      </div>
    </div>
  </div>

</div>