<script type="text/javascript">
  $(document).ready(function(){
    $(".new-tweet").mouseenter(function(){
      $(this).removeClass('collapsed');
      $(this).find("textarea").attr("rows", 3);
    }).mouseleave(function(){
      $(this).addClass('collapsed');
      $(this).find("textarea").attr("rows", 1);
    });
  });
</script>


<ul class="list-group">
  <% if @requested_user.id == @user.id %>
    <li class="list-group-item">
      <form class="new-tweet collapsed" action="/new_tweet" method="POST">
        <div class="form-group">
          <textarea style="resize:none" rows="1" name="msg" class="form-control" placeholder="140 characters or less..." maxlength="140"></textarea>
        </div>
        <button type="submit" class="collapsed-hide btn btn-success btn-block btn-sm">Submit</button>
      </form>
    </li>
  <% end %>

  <% @requested_user.tweets.each do |tweet| %>
    <li class="list-group-item">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-rounded" height="45" width="45" src="http://1.bp.blogspot.com/-8Ql-je3wAwE/Tx3rdNDS5QI/AAAAAAAABM8/u5bxexEDYG0/s1600/twitter+default+profile.png">
          </a>
        </div>
        <div class="media-body">
          <span>
            <strong><%= tweet.user.username %></strong>
            <span class="text-muted">@<%= tweet.user.username %></span>
          </span>
          <div class="twitter-syntax">
            <h4 class="twitter-text">
               <%= tweet.msg %>
            </h4>
            <p class="twitter-content"></p>
          </div>

          <form class="twitter-actions">
            <button class="btn btn-xs btn-link"><i class="fa fa-star text-muted"></i></button>
            <button class="btn btn-xs btn-link"><i class="fa fa-refresh text-muted"></i></button>
            <button class="btn btn-xs btn-link"><i class="fa fa-trash-o text-muted"></i></button>
          </form>
      </div>
    </li>
  <% end %>
</ul>