<div class="container-fluid">
  <h1>{{title}}</h1>
  <div class="list-group col-xs-4 col-xs-offset-4">

      <!-- {{#tweets}}
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">
          {{username}} - {{msg}}
        </p>
      </a>
      {{/tweets}} -->

  </div>
</div>